.navbar    {
    background: #09347D;
    height: 75px;
}

hr {
    border-color: black !important;
    border: 3px;
}

.row-1  {
    background-color: red;
}
button    {
    display: block;
    background-color: #e7e7e7;
    padding: 5px 2px;
    text-align: center;

    width: 100%;
}